*{
    padding: 0%;
    margin: 0%;
}
.conteiner{
    width: 550px;
    height: 250px;
    background-color: rgb(210, 16, 228);
    margin-top:3%;
}
.texto{
    padding-left:09%;
    padding-top: 190px;
    color: azure;
}
.conteiner2{
    display:flex;
    margin:30px;       
}
p{
    padding: 0px 15px;
    color: blue;
}