.imagem{width: 500px;
        height:250px}  

.titulo{text-align:left;}



.imagem1{width: 500px;
        height: 450px;}

.titulo1{text-align: left;}

    
.imagem2{width: 100px;
        height: 100px;}

.titulo2{text-align: left;}

